[Daemons]
network_daemon = false
clock_skew_daemon = false

[InstanceSetup]
optimize_local_ssd = false
network_enabled = false
set_boto_config = false
set_host_keys = false
set_multiqueue = false

[IpForwarding]
ip_aliases = false
target_instance_ips = false

[NetworkInterfaces]
setup = false
ip_forwarding = false
